<!DOCTYPE html>
<html>
  <head>
    <title>Yillow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://maps.googleapis.com/maps/api/js?key=_w&callback=initMap"
  type="text/javascript"></script>
    <%# <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['AIzaSyDC3iIEOI1JrCfO-1tEf8df31bYUBkRy_w']}" %> 
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'application', 
      "https://fonts.googleapis.com/css?family=Crimson+Text:700&display=swap", 
      "https://fonts.googleapis.com/css?family=Open+Sans&display=swap",
      media: 'all' %>
    <%= javascript_include_tag 'application' %>
    

  </head>

  <body>
    <%= yield %>
  </body>
</html>
